@font-face {
    src: url('../assets/fonts/TiemposText-Bold.otf');
    font-family: Tiempos;
    font-weight: bold;
}

@font-face {
    src: url('../assets/fonts/lineto-circular-pro-book.eot');
    font-family: Circular;
    font-weight: normal;
}

@tailwind preflight;
@tailwind components;

.btn {
    @apply  py-4 px-8 text-lg;
}

.btn-black {
    @apply bg-black text-white;
}

.btn-black:hover {
    @apply bg-grey-darkest;
}

.anim-container {
    padding: 20px 0;
}

.TIMELINE-CONTAINER {
    bottom: initial;
    top: 50vh;
    transform: translateY(-25%);
}

.TIMELINE-CONTAINER.tl-pin {
    bottom: 50vh;
    top: initial;
    transform: translateY(25%);
}

.timeline {
    height: 3px;
    width: 0px;
    /* flex: 0 0 50%; */
    /* content: ''; */
    /* align-items: stretch;
    flex-direction: column; */
    /* direction: ltr; */
}

.timeline-message {
    position: absolute;
    padding: 10px;
}

#timeline-message-1 {
    top: 10px;
}

#timeline-message-2 {
    top: 200px;
}

#timeline-message-3 {
    top: 400px;
}

#timeline-message-4 {
    top: 600px;
}

#timeline-message-5 {
    top: 800px;
}

#timeline-message-6 {
    top: 1000px;
}

@tailwind utilities;

